<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@expand] [@visibility]="visibility">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@expand] [@visibility]="visibility">
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let d of dish.comments">
        <h4 matLine>{{ d.comment }}</h4>
        <p matLine>{{ d.rating }} Stars</p>
        <p matLine>
          <span>-- {{ d.author }} {{ d.date | date }}</span>
        </p>
      </mat-list-item>

      <mat-list-item *ngIf="commentForm.valid">
        <h4 matLine>{{ commentForm.value.comment }}</h4>
        <p matLine>{{ commentForm.value.rating }} Stars</p>
        <p matLine>
          <span>-- {{ commentForm.value.author }}</span>
        </p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
        </mat-form-field>
      </p>
      <p>
          <mat-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field>
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
          <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>

  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading..</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>